.sidebar-brand-text{
    font-family: 'Papyrus', fantasy;
}

.nav-item {
    font-size: 18px;
    font-family: 'Papyrus', fantasy;
  }


  @media all and (min-width: 750px){

    .nav-item {
        font-size: 20px;
      }
    }